@model ASP.NET_ClientServer.Models.TodoModel

@{
    ViewData["Title"] = "UpdateTodo";
}

<h1>UpdateTodo</h1>

<h4>TodoModel</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="UpdateTodo">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Title" class="control-label"></label>
                <input asp-for="Title" class="form-control" value="@Model.Title" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Desc" class="control-label"></label>
                <textarea asp-for="Desc" class="form-control" >@Model.Desc</textarea>
                <span asp-validation-for="Desc" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Estimate" class="control-label"></label>
                <input asp-for="Estimate" class="form-control" value="@Model.Estimate" />
                <span asp-validation-for="Estimate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to Home</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
